.NumberInput-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.NumberInput-Label {
  display: flex;
  font-size: 1.3rem;
  color: black;
}

.NumberInput-Input {
  display: flex;
  padding: 5px;
}