.App {
  margin: 5rem 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.Btn {
  margin: 1rem 0;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Header > h3:not(:last-child) {
  margin-right: 2rem;
}

.Container {
  max-width: 1335px;
  margin: 0 auto;
}

.GridRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.Faucet {
  height: 50px;
  flex-basis: 20%;
  border: 1px solid #000000;
  -ms-flex: auto;
  width: 50px;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Faucet-On {
  background-color: blue;
}

.Faucet-Off {
  background-color: white;
}

@media(max-width: 1333px) {
  .Faucet {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
   .Faucet {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  .Faucet {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {
  .Faucet {
    flex-basis: 100%;
  }
}
